

img {
    max-width: 50%;
}

.inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 30%;
    border-right: 1px solid #c4c4c4;
}

.inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
    height: 100vh;
}

.top_spac {
    margin: 20px 0 0;
}

.recent_heading {
    float: left;
    width: 40%;
}

.srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
    padding: 5px;
}


.headind_srch {
    padding: 10px 10px 10px 10px;
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
    color: #7674FE;
    font-size: 18px;
    margin: auto;
}

.srch_bar input {
    border: 1px solid #cdcdcd;
    border-width: 0 0 1px 0;
    width: 80%;
    padding: 2px 0 4px 6px;
    background: none;
}

.srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
}

.srch_bar .input-group-addon {
    margin: 0 0 0 -27px;
}
h4, .online{
    padding-bottom: 5%;
}
.chat_ib h5 {
    font-size: 18px;
    color: #464646;
    margin: 0 0 8px 0;
}

.chat_ib h5 span {
    font-size: 18px;
    float: right;
}

.chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto
}

.chat_img {
    float: left;
    width: 11%;
}

.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

.chat_people {
    overflow: hidden;
    clear: both;
}

.chat_list {
    border-bottom: 1px solid #c4c4c4;
    cursor: pointer;
    margin: 0;
    padding: 18px 16px 10px;
}

.inbox_chat {
    height: 100vh;
    overflow-y: scroll;
}

.active_chat {
    background: #ebebeb;
}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.received_withd_msg {
    width: 57%;
}

.mesgs {
    height: 95%;
}

.sent_msg p {
    background: #7674FE none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
}

.outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px 0px;
}

.sent_msg {
    float: right;
    width: 46%;
}

.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
}

.type_msg {
    border-top: 1px solid #c4c4c4;
    background-color: #f4f6f6;
}

.text-center {
    padding-bottom: 100px !important;
}

.msg_send_btn {
    background: #7674FE none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    width: 70px;
}


.msg_history {
    height: 90%;
    overflow-y: auto;
}

.extra_space {
    height: 150px;
}

.search-bar:focus,
.write_msg:focus {
    outline: none;

}
.write_msg{
      
        background: #fff;
        margin: 0 auto;
        width: 100%
}

textarea {
    border: 0px solid;
    margin-top: 5px;
    outline: none;
    resize: none;
    width: 100%;
}

.middle-screen {

        text-align: center;
        margin-top: 20%;
}
.contendor{
    position: relative;
    display: inline-block;
    text-align: center;
}



.caja {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background: #333944;
}
.box {
    width: 450px;
    height: 300px;
    background: #CCC;
    overflow: hidden;
}


.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
}



.centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icono, .chat_img{

    display: grid;
    place-content: center;
}

.chat-izquierda{
    margin-left: 5%;
    margin-right: 5%;
}

.row-chat{
    box-sizing: border-box;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media only screen and (max-width: 600px) and (min-width: 200px) {
    button{
        font-size: 7px;
    }

    
}
@media screen and (max-width: 1000px) {

    .ocultar-div {
        display: none;
    }

    .responsive {
        font-size: 10px;

    }
    .msg_send_btn {
        font-size: 13px !important;
     }

    .auth {
        display: grid;
    }


    .grid {
        grid-template-rows: 60fr 20fr 40fr;
        display: grid;
        align-content: space-around;
        justify-content: start;
        justify-items: center;
    
    }

.chat{
     max-width:none;
}
    .nombre {
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        align-items: flex-end;
        justify-content: space-between;
        flex-direction: column;
    }


    hr {
        display: none;
    }

    .botonResponsive {
        margin-top: 2em
    }



    img {
        display: flex;
        left: 0px;
        top: 0px;
    }

    .chat {
        padding: 0%;
        margin: 0%;
    }

    .responsive {
        padding: 2px;
    }

    .responsive .imagen {
        display: block;
        max-width: 100%;
        height: auto;
    }
    .centrado{
        top:70%
    }
.middle-screen {

    text-align: center;
    margin-top: 80%;
}
img {
    max-width: 50%;
}
}
@supports(object-fit: cover) {
    .box img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}


@media screen and (max-width: 1000px) {

     .online{
        font-size: 12px!important;
    }
h4{
font-size: 12px!important;
}
     .chat_img {
      display: none;
  
    }

  
  }